# 첫 파이썬 코드 - hello

In [0]:
print("hello")

hello

In [0]:
print(1)

1

print()는 대상을 출력하라는 python 명령어

In [0]:
print("1")

1

In [0]:
print(hello)

NameError: ignored

# 변수와 연산자

## 연산

In [0]:
1+2

3

In [0]:
1+2+3

6

In [0]:
(1+2)*3

9

In [0]:
1+(2*3)

7

## 변수

In [0]:
print("tom")

tom

In [0]:
name = "tom"
print(name)

tom

모든 데이터는 변수에 담아서 사용한다

변수에 담을 때는 다으모가 같이 '='를 사용한다
```
변수명 = 값
```


<br>

print() 명령은 전달된 것이 

변수이면 변수에 담긴 값을 출력하고

값이면 그 값을 출력한다.

In [0]:
age = 20
print(age)

20

In [0]:
print(20)

20

## 사칙 연산

In [0]:
print(2+3)

5

In [0]:
print(2-3)

-1

In [0]:
print(2*3)

6

In [0]:
print(2/3)

0.6666666666666666

기본적인 사칙연산을 제공한다

In [0]:
a = 2
b = 3

In [0]:
print(a+b)

5

In [0]:
print(a-b)

-1

In [0]:
print(a*b)

6

In [0]:
print(a/b)

0.6666666666666666

연산에 사용된 것이 변수이면 변수의 값을,

값이면 값 자체를 사용한다.

## 변수에 값 할당

In [0]:
c = a+b
print(c)

5

In [0]:
c = a-b
print(c)

-1

In [0]:
c = a*b
print(c)

6

In [0]:
c = a/b
print(c)

0.6666666666666666

연산된 결과를 다른 변수에 담을 수 있다.

담는 방법은 역시 위에서 언급한 '='를 사용한다.


<br>

'='는 같다라는 의미가 아니라 우측의 결과값을 좌측의 변수에 담으라는 일종의 명령어, 정확히는 연산자이다.

대신 같음을 비교하는 비교 연산자는 '==' 입니다.

In [0]:
1==1

True

In [0]:
1==2

False

In [0]:
a = 3
a==3

True

In [0]:
a = 4
a==4

True

In [0]:
a = 3
b = 3
a==b

True

In [0]:
a = 2
a = 3
a==b

True

In [0]:
name = "tom"
name=="tom"

True

In [0]:
name = "jerry"
name=="tom"

False

# 데이터 타입

## Boolean 타입
True와 False의 값을 갖는 데이터 타입

In [3]:
is_equal = (1==1)
print(is_equal)

True

In [2]:
is_euqal = (1==2)
print(is_equal)

True

## 데이터 타입 들
- int : 정수. integer의 약자.
- float : 실수. floating의 약자
- str : 문자열. string의 약자
- bool : boolean. True/False

In [0]:
print(3)

3

In [0]:
print(3.0)

3.0

In [0]:
print(3.)

3.0

In [0]:
print("hello")

hello

정수와 실수 그리고 문자열로 구분된다.(이외에도 몇가지 더 있다.)

정수와 실수의 구분은 메모리 사용과 관련되어 있다.

각각 int, float라 부른다. integer의 약자. 소수점이 떠 다닌다 해서 floating.


<br>

그리고 문자열은 단순 값 1개가 아니라 여러개의 값들로 처리하는 내부적인 처리방식 때문에 별개로 처리한다.

문자열은 string이라 불린다. 각 문자들의 연결이라는 의미이다.

In [0]:
print(3)

3

In [0]:
print(float(3))

3.0

In [0]:
print(3.1)

3.1

In [0]:
print(int(3.1))

3

서로 간에 변환할 때는 int(), float()라는 함수를 사용한다.

float를 int로 변환할 때는 정보의 손실이 발생한다.

<br>

+, -, *, /, = 등을 연산자라 하고 

print(), int(), float() 처럼 괄호가 있어서 값을 전달하는 것을 함수라 부른다.

## 타입 보기

In [57]:
print(type(3))

<class 'int'>

In [58]:
print(type(3.1))

<class 'float'>

In [59]:
print(type("tom"))

<class 'str'>

In [60]:
print(type(True))

<class 'bool'>

## 데이터 타입 변환

- int() : int 타입으로
- float() : float 타입으로
- str() : string 타입으로
- bool() : boolean 타입으로

In [0]:
i = 3
f = 3.1
s = "3.1"
b = True

### int()

In [5]:
print((int(3.0)))

3

In [12]:
print(int(3.1))

3

소수점 아래는 버려진다

In [14]:
print(int("3"))

3

In [15]:
print(int("3.1"))

ValueError: ignored

In [24]:
print(int("tom"))

ValueError: ignored

In [16]:
print(int(float("3.1")))

3

In [17]:
print(int(True))

1

In [19]:
print(int(False))

0

### float()

In [20]:
print(float(3))

3.0

In [21]:
print(float(3.1))

3.1

In [22]:
print(float("3"))

3.0

In [23]:
print(float("3.1"))

3.1

In [26]:
print(float("tom"))

ValueError: ignored

In [27]:
print(float("-3.1"))

-3.1

In [28]:
print(float(True))

1.0

In [29]:
print(float(False))

0.0

### str()

In [31]:
print(str(3))

3

In [32]:
print(str(3.1))

3.1

In [33]:
print(str(True))

True

### bool()

값이 "False", 0, None 그리고 비었을 때만 False를 반환

이외에는 Truefmf qksghks

In [34]:
print(bool(1))

True

In [35]:
print(bool(0))

False

In [36]:
print(bool(3))

True

In [37]:
print(bool(-1))

True

In [38]:
print(bool(None))

False

In [39]:
print(bool("hi"))

True

In [40]:
print(bool(""))

False

## Quiz. 문자와 숫자 더하기

실패했던 다음을 성공시키려면
```
print("3"+1) # 3+1의 결과인 4를 출력하고 싶다.
```

```
print("3"+"1") # 3+1의 결과인 4를 출력하고 싶다.
```

In [44]:
print(int("3")+1)

4

In [46]:
print(int("3")+int("1"))

4

## 반올림과 유사 방법들

4가지 방법이 있다.
- int() : 소수점 아래를 버린다. truc()와 동일
- round() : 가장 가까운 정수로
- math.floor() : 원 값보다 작은 정수로
- math.ceil() : 원 값보다 큰 정수로
- math.truc() : 소수점 아래를 버린다.

In [51]:
print(round(3.1))
print(round(3.9))
print(round(-3.1))
print(round(-3.9))

3
4
-3
-4

In [52]:
import math

print(math.floor(3.1))
print(math.floor(3.9))
print(math.floor(-3.1))
print(math.floor(-3.9))

3
3
-4
-4

In [53]:
import math

print(math.ceil(3.1))
print(math.ceil(3.9))
print(math.ceil(-3.1))
print(math.ceil(-3.9))

4
4
-3
-3

In [54]:
import math

print(math.trunc(3.1))
print(math.trunc(3.9))
print(math.trunc(-3.1))
print(math.trunc(-3.9))

3
3
-3
-3

In [55]:
print(int(3.1))
print(int(3.9))
print(int(-3.1))
print(int(-3.9))

3
3
-3
-3

# 사용자 입력 input()

사용자의 입력을 받는다.
받은 값은 str 타입이다

In [61]:
name = input()
print(name)

tom
tom

In [67]:
name = input("이름 : ")
print(name)

이름 : tom
tom

In [68]:
name = input("이름 : ")
print("이름은",name,"입니다.")

이름 : tom
이름은 tom 입니다.

In [69]:
age = input("나이 : ")
print("나이는",age,"입니다.")

나이 : 30
나이는 30 입니다.

In [75]:
age = input("나이 : ")
print(type(age))

나이 : 33
<class 'str'>

## Quiz. 사용자가 입력한 값의 2배를 출력

In [76]:
i = input()
print(int(i)*2)

3
6

In [77]:
i = input()
i = int(i)
print(i/2)

3
1.5

## 입력한 값을 2로 나눈 몫

In [79]:
i = input()
i = int(i)
div = i/2
print(div)
div = int(div)
print(div)

3
1.5
1

## Quiz. 입력한 값을 2로 나눈 나머지

In [81]:
i = int(input())
div = int(i/2)
mod = i - (div*2)
print(mod)

3
1

## Quiz. 입력한 값을 2로 나눈 몫과 나머지

In [82]:
i = int(input())
div = int(i/2)
mod = i = (div*2)
print(div, mod)

3
1 2

## Quiz. 2개의 입력을 받아 곱 계산

In [1]:
a = float(input())
b = float(input())
print(a*b)

2.1
4
8.4

## Quiz. 젯수와 피젯수를 받아 몫과 나머지

In [5]:
i1 = int(input("젯수 :"))
i2 = int(input("피젯수 : "))
div = int(i1/i2)
mod = i1 - (div*i2)
print(div, mod)
print("몫 :",div, ",나머지 :",mod)

젯수 :5
피젯수 : 2
2 1
몫 : 2 ,나머지 : 1

# print() 포멧

In [6]:
name = "tom"
age = 30
print(name, age)

tom 30

In [7]:
name = "tom"
age = 30
print("name=",name, ", age=",age)

name= tom , age= 30

In [9]:
name = "tom"
age = 30
print("name={}, age={}".format(name, age))

name=tom, age=30

In [12]:
name = "tom"
age = 30
print("name={}, age={}, 이름={}".format(name, age, name))

name=tom, age=30, 이름=tom

In [11]:
name = "tom"
age = 30
print("name={0}, age={1}. 이름={0}".format(name, age))

name=tom, age=30. 이름=tom

# 프로그래밍 언어

모든 프로그램은 값을 처리하는 것들이다.

- 값을 담기 위해 변수와 기타 것들이 있고,
- 처리를 하기 위해 연산자, 함수가 있다.


<br>

특히 값을 담은 변수를 특화한

- list, dictionary, map, tuple 이 있다.


<br>

값에 따라 처리할 내용을 달리 하기 위해

- if와 같은 제어문이 있고


<br>

반복적인 것을 처리하기 위한

- for나 while같은 loop 가 있다.


<br>

효율적, 구조적 으로 처리하기 위해

- class라는 것이 있고


<br>

이미 작성된 코드의 재활용을 위해

- module이나 library가 있다.


<br>

처리할 데이터를 가져오고, 처리한 값을 내보내기 위한 다음과 같은 IO(Input/Output)이 있다.

- File I/O
- DB Connection
- Rest API
- HTTP
- ...

# 제어문 if

In [0]:
temp = 35
print(temp)

35

In [0]:
print("더워요. 온도가",temp,"도 입니다.")

더워요. 온도가 35 도 입니다.

In [0]:
temp = 20
print("시원해요. 온도가",temp,"도 입니다.")

시원해요. 온도가 20 도 입니다.

In [0]:
temp = 30
if temp > 25:
  print("더워요. 온도가",temp,"도 입니다.")

더워요. 온도가 30 도 입니다.

In [0]:
temp = 20
if temp > 25:
  print("더워요. 온도가",temp,"도 입니다.")

조건을 만족할 때만 처리하도록 합니다.

다음 약속(syntax)를 따라야 합니다.
- if 뒤에는 조건이 오고
- 조건 뒤에는 ':'이 와야 하고
- 실행 내용은 한칸 들여써야 합니다.

## else

조건을 만족하지 않는 경우에 처리할 내용은 else로 명시합니다.

In [0]:
temp = 30
if temp > 25:
  print("더워요. 온도가",temp,"도 입니다.")
else:
  print("시원해요. 온도가",temp,"도 입니다.")

더워요. 온도가 30 도 입니다.

In [0]:
temp = 20
if temp > 25:
  print("더워요. 온도가",temp,"도 입니다.")
else:
  print("시원해요. 온도가",temp,"도 입니다.")

시원해요. 온도가 20 도 입니다.

if와 else를 사용하여 조건을 만족할 경우와 만족하지 않을 경우 각각 처리할 내용을 달리 할 수 있습니다.

- else와 :이 있고
- 역시 한칸 들여 씁니다.

## Quiz. 짝수 홀수 판단
사용자가 입력한 값의 짝수 홀수 판단

In [74]:
n = input()
i = int(n)
if int(i/2)*2==i:
  print("짝수")
else:
  print("홀수")

4
짝수

In [72]:
3/2

1.5

## elif

In [0]:
temp = 20
if temp > 25:
  print("더워요. 온도가",temp,"도 입니다.")
elif temp > 15:
  print("시원해요. 온도가",temp,"도 입니다.")  
else:
  print("추워요. 온도가",temp,"도 입니다.")

시원해요. 온도가 20 도 입니다.

In [0]:
temp = 10
if temp > 25:
  print("더워요. 온도가",temp,"도 입니다.")
elif temp > 15:
  print("시원해요. 온도가",temp,"도 입니다.")  
else:
  print("추워요. 온도가",temp,"도 입니다.")

추워요. 온도가 10 도 입니다.

elif를 사용하여 여러개의 조건을 순차적으로 적용하여 처리가 가능합니다.

- elif 뒤에 조건을 명시합니다.
- 조건 뒤에 :을 답니다.
- 실행할 명령은 역시 한칸 들여 씁니다.

# 함수

In [17]:
print("name : {}, age : {}".format("tom", 30))
print("name : {}, age : {}".format("jerry", 33))
print("name : {}, age : {}".format("철수", 20))
print("name : {}, age : {}".format("영희", 22))

name : tom, age : 30
name : jerry, age : 33
name : 철수, age : 20
name : 영희, age : 22

In [18]:
print("name = {}, age = {}".format("tom", 30))
print("name = {}, age = {}".format("jerry", 33))
print("name = {}, age = {}".format("철수", 20))
print("name = {}, age = {}".format("영희", 22))

name = tom, age = 30
name = jerry, age = 33
name = 철수, age = 20
name = 영희, age = 22

In [19]:
def print_name_and_age(name, age):
  print("name : {}, age : {}".format(name, age))

print_name_and_age("tom", 30)
print_name_and_age("jerry", 33)
print_name_and_age("철수", 20)
print_name_and_age("영희", 22)

name : tom, age : 30
name : jerry, age : 33
name : 철수, age : 20
name : 영희, age : 22

In [20]:
def print_name_and_age(name, age):
  print("name = {}, age = {}".format(name, age))

print_name_and_age("tom", 30)
print_name_and_age("jerry", 33)
print_name_and_age("철수", 20)
print_name_and_age("영희", 22)

name = tom, age = 30
name = jerry, age = 33
name = 철수, age = 20
name = 영희, age = 22

다음의 구문으로 함수를 정의한다.

```
def 함수이름(파라매터):
  함수 내용...
```

<br>

함수 내용에 해당하는 부분(코드 블럭)을 표시하기 위해 들여쓰기를 한다.

In [21]:
def print_name_and_age(name, age):
  print("name = {}, age = {}".format(name, age))
  print("hi")

  
print_name_and_age("tom", 30)
print_name_and_age("jerry", 33)
print_name_and_age("철수", 20)
print_name_and_age("영희", 22)

name = tom, age = 30
hi
name = jerry, age = 33
hi
name = 철수, age = 20
hi
name = 영희, age = 22
hi

In [22]:
def print_name_and_age(name, age):
  print("name = {}, age = {}".format(name, age))
print("hi")

  
print_name_and_age("tom", 30)
print_name_and_age("jerry", 33)
print_name_and_age("철수", 20)
print_name_and_age("영희", 22)

hi
name = tom, age = 30
name = jerry, age = 33
name = 철수, age = 20
name = 영희, age = 22

## 한수의 반환 값

반환하는 값이 있을 경우 return을 사용한다
```
def 함수이름(파라매터):
  ...
  return some
```

In [25]:
def div(a,b): # a를 b로 나누어 몫을 반환한다.
  div = int(a/b)
  return div


print(div(3,2))
print(div(4,2))
print(div(5,2))
print(div(6,2))

1
2
2
3

In [27]:
def mod(a,b): # a를 b로 나누어 나머지를 반환한다.
  div = int(a/b)
  mod = a - div*b
  return mod

print(mod(3,2))
print(mod(4,2))
print(mod(5,2))
print(mod(6,2))

1
0
1
0

## Quiz. 정수를 받아 짝수 여부를 판단하는 함수

In [30]:
def is_even(n):
  if mod(n,2)==0:
    return True
  else:
    return False


print(is_even(1))
print(is_even(2))
print(is_even(3))
print(is_even(4))
print(is_even(5))

False
True
False
True
False

In [31]:
def is_even(n):
  is_even = (mod(n,2)==0)
  return is_even

print(is_even(1))
print(is_even(2))
print(is_even(3))
print(is_even(4))
print(is_even(5))

False
True
False
True
False

In [32]:
def is_even(n):
  return (mod(n,2)==0)

print(is_even(1))
print(is_even(2))
print(is_even(3))
print(is_even(4))
print(is_even(5))

False
True
False
True
False

In [35]:
n = input()
i = int(n)
# if int(i/2)*2==i:
if is_even(i):
  print("짝수")
else:
  print("홀수")

3
홀수

## 여러개를 반환

여러개를 반환할 수 있다.

In [39]:
def div_n_mod(a,b): # a를 b로 나눈 몫과 나머지를 반환
  div = int(a/b)
  mod = a - div*b
  return div, mod

print(div_n_mod(0,2))
print(div_n_mod(1,2))
print(div_n_mod(2,2))
print(div_n_mod(3,2))
print(div_n_mod(4,2))
print(div_n_mod(5,2))
print(div_n_mod(6,2))
print(div_n_mod(7,2))
print(div_n_mod(8,2))
print(div_n_mod(9,2))

(0, 0)
(0, 1)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(3, 0)
(3, 1)
(4, 0)
(4, 1)

# 반복문

In [49]:
print(0)
print(1)
print(2)
print(3)
print(4)
print(5)
print(6)
print(7)
print(8)
print(9)

0
1
2
3
4
5
6
7
8
9

In [50]:
for i in [0,1,2,3,4,5,6,7,8,9]:
  print(i)

0
1
2
3
4
5
6
7
8
9

In [51]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [40]:
print(div_n_mod(0,2))
print(div_n_mod(1,2))
print(div_n_mod(2,2))
print(div_n_mod(3,2))
print(div_n_mod(4,2))
print(div_n_mod(5,2))
print(div_n_mod(6,2))
print(div_n_mod(7,2))
print(div_n_mod(8,2))
print(div_n_mod(9,2))

(0, 0)
(0, 1)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(3, 0)
(3, 1)
(4, 0)
(4, 1)

In [41]:
for i in [0,1,2,3,4,5,6,7,8,9]:
  print(div_n_mod(i,2))

(0, 0)
(0, 1)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(3, 0)
(3, 1)
(4, 0)
(4, 1)

for 구문을 사용하여 반복적으로 실행할 수 있다.

```
for i in 리스트:
  반복할 내용
```

<br>

연속적인 값들의 리스트는 range()를 사용할 수 있다.

In [42]:
for i in range(10):
  print(div_n_mod(i,2))

(0, 0)
(0, 1)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(3, 0)
(3, 1)
(4, 0)
(4, 1)

## Quiz. 0+1+2+3을 계산

In [45]:
sum = 0+1+2+3
print(sum)

6

## Quiz 0+1+2+3+4+5+6+7+8+9 계산

In [55]:
sum = 0+1+2+3+4+5+6+7+8+9
print(sum)

45

In [56]:
sum = 0
sum = sum + 1
sum = sum + 2
sum = sum + 3
sum = sum + 4
sum = sum + 5
sum = sum + 6
sum = sum + 7
sum = sum + 8
sum = sum + 9
print(sum)

45

In [59]:
sum = 0
for i in [0,1,2,3,4,5,6,7,8,9]:
  sum = sum + i
print(sum)

45

In [61]:
sum = 0
for i in range(10):
  sum = sum + i
print(sum)

45

## Quiz. 0+1+2+ ... + 99

In [62]:
sum = 0
for i in range(100):
  sum = sum + i
print(sum)

4950

## range 구문
start 부터 시작해서 end 바로 전까지
```
range(start, end, step)
```

In [58]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [53]:
for i in range(3,10):
  print(i)

3
4
5
6
7
8
9

In [54]:
for i in range(3,10,2):
  print(i)

3
5
7
9

## Quiz. 0~99까지 홀수의 총합은?

In [63]:
sum = 0
for i in range(100):
  if is_even(i):
    pass
  else:
    sum = sum + i
print(sum)

2500

In [64]:
sum = 0
for i in range(100):
  if not is_even(i):
    sum = sum + i
print(sum)

2500

In [67]:
sum = 0
for i in range(1,100,2):
    sum = sum + i
print(sum)

2500

## Quiz. 13~123까지 홀수의 갯수는?

In [68]:
count = 0
for i in range(13,124):
  if not is_even(i):
    count = count + 1
print(count)

56

## Quiz. 별 n개 찍기

In [127]:
n = 10
for i in range(n):
  print("*", end="")

**********

In [129]:
def get_star_of_length(n):
  s = ""
  for i in range(n):
    s = s + "*"
  return s

s = get_star_of_length(10)
print(s)

**********

In [130]:
def get_star_of_length(n):
  return "*"*n

s = get_star_of_length(10)
print(s)

**********

## Quiz. 다음을 출력

```
1
2
3
4
5
```

In [133]:
for i in range(1,6):
  print(i)

1
2
3
4
5

## Quiz. 다음을 출력

```
1 *
2 **
3 ***
4 ****
5 *****
```

In [131]:
for i in range(1,6):
  print(i)

1
2
3
4
5

In [132]:
for i in range(1,6):
  print(i, get_star_of_length(i))

1 *
2 **
3 ***
4 ****
5 *****

## Quiz. 다음을 출력

```
*
**
***
****
*****
```

In [134]:
for i in range(1,6):
  print(get_star_of_length(i))

*
**
***
****
*****

## Quiz. 구구단 중 3단을 출력

In [135]:
for i in range(1,10):
  print("{} x {} = {}".format(3, i, (3*i)))

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

## Quiz. 구구단 전체 출력

In [137]:
for i in range(2, 10):
  for j in range(1, 10):
    print("{} x {} = {}".format(i, j, (i*j)))
  print()

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

# 자료형

다음의 자료형이 있다.
- list : []로 생성
- dict : dictionay. {}로 생성
- set : set()로 생성
- tuple : ()로 생성

## 리스트

In [69]:
numbers = [0,1,2,3,4,5,6,7,8,9]
print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [70]:
print(len(numbers))

10

In [71]:
print(numbers[3])

3

In [72]:
print(numbers[9])

9

In [73]:
print(numbers[10])

IndexError: ignored

In [74]:
names = ["tom", "jerry", "철수", "영희"]
print(names[0])
print(names[1])
print(names[2])
print(names[3])

tom
jerry
철수
영희

In [75]:
names = ["tom", "jerry", "철수", "영희"]
for name in names:
  print(name)

tom
jerry
철수
영희

In [76]:
ages = [30, 33, 20, 22]
for age in ages:
  print(age)

30
33
20
22

In [80]:
for i in range(4):
  print(names[i])

tom
jerry
철수
영희

In [81]:
size = len(names)
for i in range(size):
  print(names[i])

tom
jerry
철수
영희

In [82]:
for i in range(len(names)):
  print(names[i])

tom
jerry
철수
영희

In [77]:
def print_name_and_age(name, age):
  print("name = {}, age = {}".format(name, age))

for i in range(len(names)):
  print_name_and_age(names[i], ages[i])

name = tom, age = 30
name = jerry, age = 33
name = 철수, age = 20
name = 영희, age = 22

### append()

In [95]:
l = [0,1,2,3]
print(l)
l.append(4)
print(l)

[0, 1, 2, 3]
[0, 1, 2, 3, 4]

### Quiz. 0~20까지 홀수만 리스트에 담기

In [96]:
l = []
for i in range(21):
  if not is_even(i):
    l.append(i)
print(l)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

### insert()

In [97]:
l = [0,1,2,3,4]
l.insert(1,9)
print(l)

[0, 9, 1, 2, 3, 4]

### remove()

In [100]:
l = [0,1,2,3,4]
l.remove(1)
print(l)

[0, 2, 3, 4]

### pop()

In [101]:
l = [0,1,2,3,4]
n = l.pop(1)
print(n)
print(l)

1
[0, 2, 3, 4]

### reverse()

In [98]:
l = [0,1,2,3,4]
l.reverse()
print(l)

[4, 3, 2, 1, 0]

### sort()

In [99]:
l = [3,1,4,2,0]
l.sort()
print(l)

[0, 1, 2, 3, 4]

## string, 알고보니 리스트

In [87]:
s = "abcdefghij"
print(s)

abcdefghij

In [88]:
print(len(s))

10

In [89]:
print(s[0])

a

In [90]:
print(s[1])

b

In [91]:
print(s[9])

j

In [92]:
print(s[10])

IndexError: ignored

### upper()

In [104]:
l = "hello tom"
print(l.upper())
print(l)

HELLO TOM
hello tom

### lower()

### swapcase()

### capitalize()

### title()

### strip()

### lstrip()

### rstrip()

### replace()

### format()

### join()

### split()

### 문자열 체크 함수들

- isalnum() - 알파벳 또는 숫자인가? 
- isalpha() - 알파벳인가?
- isdecimal() - 숫자(decimal, 10진수)인가?
- isdigit() - 숫자(digit, 10진수)인가?
- isidentifier() - 식별자로 사용 가능한가?
- islower() - 소문자인가? 
- isnumeric() - 숫자인가? 
- isspace() - 공백인가? 
- istitle() - title 형식인가? (단어마다 첫 글자가 대문자인가?)
- isupper() - 대문자인가?

### Quiz. 입력을 받아 2배 출력. 숫자가 아니면 오류 메시지 출력

## dict

키와 값들이 담겨있다.

In [105]:
d = { "tom":30, "jerry":32, "철수":20, "영희":22 }
print(d)

{'tom': 30, 'jerry': 32, '철수': 20, '영희': 22}

In [106]:
print(d["tom"])

30

In [107]:
print(d["철수"])

20

In [119]:
print(len(d))

4

In [121]:
d['tom'] = 99
print(d)

{'tom': 99, 'jerry': 32, '철수': 20, '영희': 22}

### Quiz. 4명의 이름과 나이를 입력받아 출력한다.

In [123]:
d = {}
for i in range(4):
  name = input("name:")
  age = int(input("age:"))
  d[name] = age
print(d)

name:tom
age:30
name:jerry
age:32
name:철수
age:20
name:영희
age:22
{'tom': 30, 'jerry': 32, '철수': 20, '영희': 22}

### keys()

In [109]:
print(d.keys())

dict_keys(['tom', 'jerry', '철수', '영희'])

In [118]:
for k in d.keys():
  print(k, d[k])

tom 30
jerry 32
철수 20
영희 22

### values()

In [110]:
print(d.values())

dict_values([30, 32, 20, 22])

In [113]:
for v in d.values():
  print(v)

30
32
20
22

### items()

In [114]:
print(d.items())

dict_items([('tom', 30), ('jerry', 32), ('철수', 20), ('영희', 22)])

In [115]:
for i in d.items():
  print(i)

('tom', 30)
('jerry', 32)
('철수', 20)
('영희', 22)

In [116]:
for k,v in d.items():
  print(k,v)

tom 30
jerry 32
철수 20
영희 22

###. Quiz 나이가 30 미만인 사람들의 이름만 출력

```
d = { "tom":30, "jerry":32, "철수":20, "영희":22 }
```

In [125]:
d = { "tom":30, "jerry":32, "철수":20, "영희":22 }
l = []
for k, v in d.items():
  if v<30:
    l.append(k)

print(l)

['철수', '영희']

# File IO