# 특수 기호 사용 례

## 기호 "(큰따옴표) '(작은 따옴표)
문자열을 정의할 때 사용

```
name = "Tom"
name = 'Tom'
```

문자열 안에 "나 '가 포함될 경우 문자열 시작과 처음을 다른 것으로 한다.

```
"It's me"
'He said "Hi"'
```

<br>


## 기호 =
좌측의 변수에 우측의 값 혹은 우측의 연산 결과를 담는다
```
name = "Tom"
```

<br>

## 기호 ==, !=
좌우의 값이 같음 혹은 다름을 판단
```
if name =="": # name에 담긴 값이 ""과 같다면
```

```
if value != None: # value에 담긴 값이 None이 아니라면
```

<br>

## 기호 ( )
- 함수 정의나 함수 호출
- 연산 우선 순위

함수
```
print(30)

def sum(a,b):
  return a+b

print(sum(1,2))
```

연산 우선순위
```
(1+2)*3
1+(2*3)
```


<br>

## 기호 ,
여러개를 열거 할 때

```
print(1,2,3)

def sum(a,b):
  return a+b
```

<br>

## 기호 [ ], { }

- \[ ] : 리스트를 정의할 때. 리스트나 딕션너리 값을 참조할 때
- { } : 딕션너리를 정의할 때

```
l = [ 1, 2, 3, 4, 5 ]
l = [ "Tom", "Jerry", "철수", "영희" ]
print(l[0])
```

```
d = {
  "dog" : "강아지",
  "cat" : "고양이"
}
print(d["dog"])
```

<br>


## 기호 :(콜론)

보드 블럭이 시작됨을 명시.
```
while True:
  name = input()

if name=="":
  break

for i in l:
  print(i)
```

딕션너리 정의할 때 카와 값을 구분
```
d = { "dog":"강아지" }
```


<br>


## 기호 +, -, *, /, %
- + : 더하기
- - : 빼기
- * : 곱하기
- / : 나누기
- % : 나머지


<br>

## 기호 \(역슬래쉬)

문자열 내에서 다른 의미를 표현할 때
```
print("says \"HI\"") # 문자열을 감싸는 큰따옴표가 아니라 문자열에 포함되는 문자임을 표시
print("HI\n")) # 줄바꿈 문자를 표시

```

<br>


## 예약어

### True, False
참 혹은 거짓을 의미하는 boolean 타입의 값

### None
아무것도 없을을 의미하는 값


<br>

# 함수 bool()

bool() : None, "", 0 인 경우에만 False, 이외는 True

In [1]:
print(bool(1))
print(bool(0))
print(bool(2))
print(bool(2.1))
print(bool(""))
print(bool("tom"))

True
False
True
True
False
True

## 짝수 여부 구분 함수

In [0]:
def is_even(n):
  div = int(n/2)
  mod = n - div*2
  if mod==0:
    return True
  else:
    return False
  print("hi")  
  
print(is_even(3))
print(is_even(4))
print(is_even(5))

# Quiz. 1~100 중에 5 또는 5의 배수만 더하기

In [0]:
def is_multiple(v,d):
  div = int(v/d)
  mod = v - div*d
  return mod==0

sum = 0
for i in range(1,101):
#   if is_multiple(i,5):
  if is_multiple(i,3) or is_multiple(i,5):
    sum = sum + i
print(sum)

# n개 "*"을 반환하는 함수

In [2]:
def get_n_star(n):
  stars = ""
  for i in range(n):
    stars = stars + "*"

  return stars

print(get_n_star(10))

**********

# 구구단중 3단 출력

In [6]:
for i in range(1,10):
  print("{} x {} = {}".format(3, i, 3*i))

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

# 구구단 전체 출력

In [4]:
for j in range(2,10):  
  for i in range(1,10):  
    print("{} x {} = {}".format(j, i, j*i))
  print()

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

## Quiz. 딕션너리로 정의된 데이터. 빈칸을 입력하면 종료. 소대문자 관계없이 찾을 수 있도록

In [0]:
d = {
    "cat" : "고양이. 사람을 집사로 하는 신적 동물",
    "dog" : "강아지. 사람을 신으로 아는 귀여운 동물",
    "apple" : "사과. 깨물면 맛있는 과일. 백설공주 암살에 사용됨"
}

while True:
  word = input()
  if word == "":
    break
  word = word.lower()
  print(d[word])

### Quiz. 이미 선언된 d에 단어를 입력받고, 설명을 입력 받고, 이를 d에 추가하고 d전체 출력. 빈칸들어오면 중지

In [0]:
d = {
    "cat" : "고양이. 사람을 집사로 하는 신적 동물",
    "dog" : "강아지. 사람을 신으로 아는 귀여운 동물",
    "apple" : "사과. 깨물면 맛있는 과일. 백설공주 암살에 사용됨"
}

while True:
  word = input("word : ")
  if word == "":
    break
  value = input("value : ")
  print(word, value)
  d[word] = value
  print(d)

### CSV 파일 읽고 쓰기