In [3]:
print("이름 {}, 나이 {}".format("Tom", 30))
print("이름 {}, 나이 {}".format("Jerry", 32))
print("이름 {}, 나이 {}".format("철수", 20))
print("이름 {}, 나이 {}".format("영희", 22))

이름 Tom, 나이 30
이름 Jerry, 나이 32
이름 철수, 나이 20
이름 영희, 나이 22

In [18]:
def print_name_and_age(name, age):
  print("name {}  age {}".format(name, age))
  
print_name_and_age("Tom", 30)
print_name_and_age("Jerry", 32)
print_name_and_age("철수", 20)
print_name_and_age("영희", 22)
return_value = print_name_and_age("tom", 33)
print(return_value)

name Tom  age 30
name Jerry  age 32
name 철수  age 20
name 영희  age 22
name tom  age 33
None

In [8]:
print(int(5/3))
print(int(6/3))
print(int(7/3))

1
2
2

In [15]:
def div(v):
  return int(v/3)

print(div(5))
print(div(6))
print(div(7))

1
2
2

In [11]:
div = int(5/3)
mod = 5 - div*3
print(mod)

div = int(6/3)
mod = 6 - div*3
print(mod)

div = int(7/3)
mod = 7 - div*3
print(mod)

2
0
1

In [13]:
def mod(v):
  div = int(v/3)
  mod = v - div*3
  return mod

print(mod(5))
print(mod(6))
print(mod(7))

2
0
1

In [16]:
def div(v):
  return int(v/3)

def mod(v):
  return v - div(v)*3

print(mod(5))
print(mod(6))
print(mod(7))

2
0
1

In [22]:
def div2(v,d):
  return int(v/d)
  
print(div2(5,3))
print(div2(6,3))
print(div2(7,3))

1
2
2

In [24]:
def mod2(v,d):
  return v - div2(v,d)*d

print(mod2(5,3))
print(mod2(6,3))
print(mod2(7,3))

2
0
1

In [25]:
print(div2(5,3), mod2(5,3))
print(div2(6,3), mod2(6,3))
print(div2(7,3), mod2(7,3))

1 2
2 0
2 1

In [27]:
def div_and_mod(v,d):
  div = int(v/d)
  mod = v - div*d
  return div, mod

print(div_and_mod(5,3))
print(div_and_mod(6,3))
print(div_and_mod(7,3))

(1, 2)
(2, 0)
(2, 1)

# 반복문

In [28]:
print(0)
print(1)
print(2)
print(3)
print(4)
print(5)
print(6)
print(7)
print(8)
print(9)

0
1
2
3
4
5
6
7
8
9

In [29]:
for i in [0,1,2,3,4,5,6,7,8,9]:
  print(i)

0
1
2
3
4
5
6
7
8
9

In [30]:
for i in [1,3,5,7,9]:
  print(i)

1
3
5
7
9

In [31]:
for i in [1,3,5,7,9]:
  print(i)
  print(i*2)
  print(i+2)

1
2
3
3
6
5
5
10
7
7
14
9
9
18
11

In [33]:
for i in range(0,10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [36]:
for i in range(0,10,2):
  print(i)

0
2
4
6
8

1+2+3+....+9+10

In [37]:
sum = 1+2+3+4+5+6+7+8+9+10
print(sum)

55

In [38]:
sum = 0
sum = sum + 1
sum = sum + 2
sum = sum + 3
sum = sum + 4
sum = sum + 5
sum = sum + 6
sum = sum + 7
sum = sum + 8
sum = sum + 9
sum = sum + 10

print(sum)

55

In [40]:
sum = 0
for i in range(1,11):
  sum = sum + i

print(sum)

55

In [45]:
sum = 0
for i in range(1,101, 2):
  sum = sum + i
  
print(sum)

2500

In [47]:
n = 1+3
print(n)

4

In [0]:
ㅔ

# QUiz. 1~100 중에 3의 배수만 더하기

In [49]:
def is_multiple(v,d):
  div = int(v/d)
  mod = v - div*d
  return mod==0

sum = 0
for i in range(1,101):
  if is_multiple(i,3):
    sum = sum + i
print(sum)

1683

# Quiz. 1~100 중에 5의 배수만 더하기

In [50]:
def is_multiple(v,d):
  div = int(v/d)
  mod = v - div*d
  return mod==0

sum = 0
for i in range(1,101):
  if is_multiple(i,5):
    sum = sum + i
print(sum)

1050

# Quiz. 1~100 중에 5 또는 5의 배수만 더하기

In [53]:
def is_multiple(v,d):
  div = int(v/d)
  mod = v - div*d
  return mod==0

sum = 0
for i in range(1,101):
#   if is_multiple(i,5):
  if is_multiple(i,3) or is_multiple(i,5):
    sum = sum + i
print(sum)

2418

# n개 "*"을 반환하는 함수

In [60]:
def get_n_star(n):
  stars = ""
  for i in range(n):
    stars = stars + "*"

  return stars

print(get_n_star(10))

**********

In [61]:
for i in range(1,6):
  print(get_n_star(i))

*
**
***
****
*****

In [64]:
print("hi", end="!!!!!!!!!!!!!!")
print()
print("hello")

hi!!!!!!!!!!!!!!
hello

In [57]:
def print_star_n_times(n):
  for i in range(n):
    print("*", end="")

print_star_n_times(10)

**********

```
*
**
***
****
*****
```

In [59]:
for i in range(1,6):
  print_star_n_times(i)
  print()

*
**
***
****
*****

```
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9


3 x 9 = 27
```

In [0]:
print("{} x {} = {}".format(3, 1, 3*1))
print("{} x {} = {}".format(3, 2, 3*2))
print("{} x {} = {}".format(3, 3, 3*3))
print("{} x {} = {}".format(3, 4, 3*4))
print("{} x {} = {}".format(3, 5, 3*5))
print("{} x {} = {}".format(3, 6, 3*6))
print("{} x {} = {}".format(3, 7, 3*7))
print("{} x {} = {}".format(3, 8, 3*8))
print("{} x {} = {}".format(3, 9, 3*9))

In [66]:
for i in range(1,10):  
  print("{} x {} = {}".format(3, i, 3*i))

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

In [68]:
for i in range(1,10):  
  print("{} x {} = {}".format(2, i, 2*i))
for i in range(1,10):  
  print("{} x {} = {}".format(3, i, 3*i))
for i in range(1,10):  
  print("{} x {} = {}".format(4, i, 4*i))
for i in range(1,10):  
  print("{} x {} = {}".format(5, i, 5*i))

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [72]:
for j in range(2,10):  
  for i in range(1,10):  
    print("{} x {} = {}".format(j, i, j*i))
  print()

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81