### Quiz. 사용자가 입력한 숫자 중, 3의 배수의 총합과 평균


- 빈값을 입력하면 입력 종료

```
while loop
  입력 받기
  빈문자열이면 break
  리스트에 담기

리스트 loop
  int 변환
  3의 배수 체크
    리스트에 담기

리스트 loop
  총합에 담기
평균 구하기
```

In [0]:
n0 = []
while True:
  i = input()
  if i=="":
    break
  n0.append(int(i))
print(n0)

n = []
for i in n0:
  if i%3 == 0:
    n.append(i)
print(n)

sum = 0
for i in n:
  sum = sum + i
mean = sum/len(n)
print(sum, mean)

### Quiz. 위 퀴즈에서 입력 개수를 최대 10개로

받을 수 있는 갯수의 총 개수는 10개가 최대

In [0]:
n0 = []
while True:
  # 1  
  i = input()
  # 2
  if i=="":
    break
  # 3
  n0.append(int(i))
  # 4
  if len(n0)>=10:
    break    
print(n0)

n = []
for i in n0:
  if i%3 == 0:
    n.append(i)
print(n)

sum = 0
for i in n:
  sum = sum + i
mean = sum/len(n)
print(sum, mean)

In [0]:
if len(n0)>=10:
  break

In [6]:
n0 = []
while len(n0)<10:
  i = input()
  if i=="":
    break
  n0.append(int(i))
print(n0)

n = []
for i in n0:
  if i%3 == 0:
    n.append(i)
print(n)

sum = 0
for i in n:
  sum = sum + i
mean = sum/len(n)
print(sum, mean)

1
2
3
4
5
6
7
8
9
10
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[3, 6, 9]
18 6.0

# String

In [10]:
s = "abcdefghij"

print(len(s))
print(s[1])

10
b

In [9]:
l = [0,1,2,3,4,5,6,7,8,9]
print(len(l))
print(l[1])

10
1

In [0]:
s = "hello Tom, hi Jerry"

In [12]:
print(s.upper())

HELLO TOM, HI JERRY

- upper() : 전부 대문자로
- lower() : 전부 소문자로
- swapcase() : 소대문자 서로 바구기
- capitalize() : 첫자만 대문자로
- title() : 각 단의의 첫 자만 대문자로
- strip() : 시작과 끝의 스페이스 제거
- replace()) : 문자열 치환 
- format() : 포멧에 맞게 변화
- join() : 리스트이 문자열을 합치기
- split() : 스페이스로 문자열을 쪼개기

In [13]:
s = "hello Tom, hi Jerry"
print(s.lower())

hello tom, hi jerry

In [14]:
s = "hello Tom, hi Jerry"
print(s.swapcase())

HELLO tOM, HI jERRY

In [15]:
s = "hello Tom, hi Jerry"
print(s.capitalize())

Hello tom, hi jerry

In [16]:
s = "hello Tom, hi Jerry"
print(s.title())

Hello Tom, Hi Jerry

In [17]:
s = "    hello Tom, hi Jerry   "
print(s.strip())

hello Tom, hi Jerry

In [19]:
s = "hello Tom, hi Jerry"
print(s.replace("hello", "hi"))
print(s.replace(" ", "_"))

hi Tom, hi Jerry
hello_Tom,_hi_Jerry

In [20]:
name = "tom"
age = 30
print("이름 {}, 나이 {}".format(name, age))

이름 tom, 나이 30

In [21]:
d = "tom,jerry,철수,영희"
l = d.split(",")
print(l)

['tom', 'jerry', '철수', '영희']

In [22]:
l = ['tom', 'jerry', '철수', '영희']
for i in l:
  print(i)

tom
jerry
철수
영희

### Quiz. 문자열 a에 담긴 숫자들의 총합

```
a = "10,20,30,40"
```

In [0]:
a = "10,20,30,40"
l = [10,20,30,40]

sum = 0
for i in l:
  sum = sum + i

In [27]:
# split(",") : 문자열을 ','를 기준으로 쪼개서 리스트로 만든다
# int() : 문자열을 정수로 변환

a = "10,20,30,40"
l = a.split(",")
print(l)

l2 = []
for i in l:
  l2.append(int(i))
print(l2)

sum = 0
for i in l2:
  sum = sum + i
print(sum)

['10', '20', '30', '40']
[10, 20, 30, 40]
100

In [28]:
d = "tom,jerry,철수,영희"
l = d.split(",")
print(l)

['tom', 'jerry', '철수', '영희']

In [38]:
d = "tom jerry 철수 영희"
l = d.split(" ")
print(l)

['tom', 'jerry', '철수', '영희']

In [0]:
d = "a,b:c,:de"

In [39]:
l = ['tom', 'jerry', '철수', '영희']
print(",".join(l))

tom,jerry,철수,영희

- list : 리스트
- dict : 키와 값
- set : 집합
- tuple : 여러개의 값들

# dictionary

In [41]:
d = { 
      "a":10, 
      "b":20, 
      "c":30 
}
print(d)
print(d['b'])

{'a': 10, 'b': 20, 'c': 30}
20

In [42]:
d = { "Tom":30, "Jerry":32, "철수":20, "영희":22 }
print(d)
print(len(d))
print(d["Tom"])

{'Tom': 30, 'Jerry': 32, '철수': 20, '영희': 22}
4
30

### 큰 따옴표, 작은 다옴표

In [43]:
print("hello Tom")
print('hello tom')

hello Tom
hello tom

it's me

In [44]:
print("it's me")

it's me

In [45]:
print('it's me')

SyntaxError: ignored

it"s me

In [46]:
print("it"s me")

SyntaxError: ignored

In [47]:
print('it"s me')

it"s me

In [48]:
print("it's me")
print('it"s me')
print("it\"s me")
print('it\'s me')

it's me
it"s me
it"s me
it's me

### dictionary 계속

```
Tom 30
Jerry 32
철수 20
영희 22
```
print(d["Tom"])

In [52]:
d = { "Tom":30, "Jerry":32, "철수":20, "영희":22 }
for key in d.keys():
  print(key)
  
for value in d.values():
  print(value)

Tom
Jerry
철수
영희
30
32
20
22

In [53]:
d = { "Tom":30, "Jerry":32, "철수":20, "영희":22 }
for key in d.keys():
  print(key, d[key])

Tom 30
Jerry 32
철수 20
영희 22

In [55]:
d = { "Tom":30, "Jerry":32, "철수":20, "영희":22 }
print(d['Tom'])
name = 'Tom'
print(d[name])

30
30

In [56]:
print(d.keys())

dict_keys(['Tom', 'Jerry', '철수', '영희'])

### Quiz. 나이가 30 이상인 이름과 나이를 출력

In [59]:
d = { "Tom":30, "Jerry":32, "철수":20, "영희":22 }
for key in d.keys():
  if d[key]>=30:
    print(key, d[key])

Tom 30
Jerry 32

### Quiz. 이름을 입력받아 이름과 나이를 출력

In [63]:
d = { "Tom":30, "Jerry":32, "철수":20, "영희":22 }

# 사용자 입력 : name = input()
name = input()
print(name, d[name])

Tom
Tom 30

In [67]:
d = {}
d["Tom"] = 30
d['Jerry'] = 32

print(d)

d['Tom'] = 99
print(d)

{'Tom': 30, 'Jerry': 32}
{'Tom': 99, 'Jerry': 32}

In [68]:
l = []
l.append(10)
l.append(20)
print(l)

l[0] = 99
print(l)

[10, 20]
[99, 20]

### Quiz. 이름과 나이를 입력받아 딕션너리에 추가 하고 출력. 계속 반복. 빈칸이면 중지

```
dictionanry d 생성

while 무한루프
  name 입력 받기
  if name이 빈칸이면 break
  age 입력 받기
  d에 name과 age 추가
  d 전체 출력

```

In [71]:
d = {}

while True:
  name = input("name : ")
  if name=="":
    break
  age = input("age : ")
  d[name] = int(age)
  print(d)

name : Tom
age : 30
{'Tom': 30}
name : Jerry
age : 32
{'Tom': 30, 'Jerry': 32}
name :

### Quiz. 소대문자 관계없이 이름 입력 받아 나이 출력.
```
d = { "Tom":30, "Jerry":32, "철수":20, "영희":22 }
```

```
d가 정의되어 있고

key값을 소문자로 하는 새로운 딕션너리 d1을 생성
d1 = { "tom":30, "jerry":32, "철수":20, "영희":22 }
for 루프. d의 키 name에 대하여
  name에 대한 age 값을 구함
  name를 소문자로 치환한 lower_name 구하기
  d1에 lower_name와 age를 추가

입력을 받고. 이를 소문자로 변환
소문자로 변환된 이름으로 d1에서 조회
```

```
"Tom".lower() : 소문자로 변환
```

In [82]:
d = { "Tom":30, "Jerry":32, "철수":20, "영희":22 }

d1 = {}
for name in d.keys():
  lower_name = name.lower()
  age = d[name]
  d1[lower_name] = age

name = input()
name = name.lower()
print(name, d1[name])

tom 30
jerry 32
철수 20
영희 22
tom
tom 30