In [0]:
for i in range(1,10):
  print(" {} x {} = {}".format(3, i, 3*i))

 3 x 1 = 3
 3 x 2 = 6
 3 x 3 = 9
 3 x 4 = 12
 3 x 5 = 15
 3 x 6 = 18
 3 x 7 = 21
 3 x 8 = 24
 3 x 9 = 27

In [0]:
def print_n_dan(n):
  for i in range(1,10):
    print(" {} x {} = {}".format(n, i, n*i))
    
print_n_dan(3)

 3 x 1 = 3
 3 x 2 = 6
 3 x 3 = 9
 3 x 4 = 12
 3 x 5 = 15
 3 x 6 = 18
 3 x 7 = 21
 3 x 8 = 24
 3 x 9 = 27

In [0]:
print_n_dan(2)
print_n_dan(3)
print_n_dan(4)
print_n_dan(5)
print_n_dan(6)
print_n_dan(7)
print_n_dan(8)
print_n_dan(9)

In [0]:
for j in range(2,10):
  print_n_dan(j)
  print()

In [0]:
for j in range(2, 10):
  for i in range(1, 10):
    print("{} x {} = {}".format(j, i, j*i))
  print()

## while 루프

In [0]:
print_n_dan(2)
print_n_dan(3)
print_n_dan(4)
print_n_dan(5)
print_n_dan(6)
print_n_dan(7)
print_n_dan(8)
print_n_dan(9)

In [0]:
i = 1
while i<10:
  print(i)
  i = i + 1

In [0]:
n = 2
while n<10:
  print_n_dan(n)
  n = n + 1

In [0]:
n = 2
while True:
  print_n_dan(n)
  n = n + 1
  if n>9:
    break

In [0]:
name = input()
print(name)

Tom
Tom

In [0]:
while True:
  name = input()
  if name == "":
    break
  print(name)

Tom
Tom
Jerry
Jerry

# 리스트

In [0]:
numbers = [1,2,3,4,5]
print(numbers)

[1, 2, 3, 4, 5]

In [0]:
print(type(numbers))
print(type(3))
print(type("tom"))

<class 'list'>
<class 'int'>
<class 'str'>

In [0]:
print(len(numbers))

5

In [0]:
print(numbers)
print(numbers[0])
print(numbers[1])
print(numbers[2])
print(numbers[3])
print(numbers[4])
print(numbers[5])

[1, 2, 3, 4, 5]
1
2
3
4
5

IndexError: ignored

In [0]:
print(numbers)
print(numbers[-1])
print(numbers[-2])

[1, 2, 3, 4, 5]
5
4

In [0]:
for i in [1,2,3,4,5]:
  print(i)

In [0]:
for i in numbers:
  print(i)

In [0]:
for i in [3, 6, 9]:
  print_n_dan(i)


```
( ) : 함수의 정의, 함수 호출
      연산의 우선순위
[ ] : list
{ } : 스트링 포멧
      dictionary

```

## list에 추가

In [0]:
n = [0,1,2,3,4,5]
n.append(9)
n.append(9)
n.append(99)
print(n)

[0, 1, 2, 3, 4, 5, 9, 9, 99]

In [0]:
n = [0,1,2,3,4,5]
n.insert(2, 9)
print(n)

[0, 1, 9, 2, 3, 4, 5]

```
. : 대상 값에 달려 있는 함수를 호출
```

In [0]:
n = [1,2,3,4,5]

sum = 0
for i in n:
  sum = sum + i
mean = sum / len(n)
print(sum)
print(mean)

15
3.0

```
tom 30
jerry 32
철수 20
영희 22
```

In [0]:
names = [ "tom", "jerry", "철수", "영희"]
ages = [ 30, 32, 20, 22 ]

for i in range(len(names)):
# for i in range(4):
# for i in [0,1,2,3]:
  print(names[i], ages[i])
  
print(names[0], ages[0])
print(names[1], ages[1])
print(names[2], ages[2])
print(names[3], ages[3])

for name in names:
  print(name)
  
for age in ages:
  print(age)

tom 30
jerry 32
철수 20
영희 22
tom 30
jerry 32
철수 20
영희 22
tom
jerry
철수
영희
30
32
20
22

## Quiz. 1 ~ 100 사이의 홀수만 리스트 n에 담기

```
+
-
* : 곱하기
/ : 나누기
% : 나머지
```

In [0]:
n = []

for i in range(1, 101):
  if i%2 != 0:
    n.append(i)
    
print(n)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [0]:
print(1%2 != 0)
print(2%2 != 0)
print(3%2 != 0)
print(4%2 != 0)
print(5%2 != 0)
print(6%2 != 0)

True
False
True
False
True
False

## 1 ~ 100 까지 홀수의 전체 합은? 그리고 평균은?

In [0]:
n = []
for i in range(1, 101):
  if i%2 != 0:
    n.append(i)
    
print(n)
sum = 0
for i in n:
  sum = sum + i
mean = sum / len(n)  
print(sum)
print(mean)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]
2500
50.0

## 삭제

In [0]:
n = [0,1,2,3,4,5]
n.remove(2)
print(n)

[0, 1, 3, 4, 5]

In [0]:
n = [0,1,2,3,4,5]
n.reverse()
print(n)

[5, 4, 3, 2, 1, 0]

In [0]:
n = [5,1,3,2,4,0]
n.sort()
n.reverse()
print(n)

[5, 4, 3, 2, 1, 0]

In [0]:
dir(type(n))

## 사용자가 입력한 숫자 중, 3의 배수의 총합과 평균

- 받을 수 있는 갯수의 총 개수는 10개가 최대

- 빈값을 입력하면 입력 종료

```
while loop
  입력 받기
  빈문자열이면 break
  리스트에 담기
  
리스트 loop
  int 변환
  3의 배수 체크
    리스트에 담기

리스트 loop
  총합에 담기
평균 구하기
```

In [0]:
# n0 = [1,2,3,4,5,6,7,8,9,10]
n0 = []
while True:
  i = input()
  if i=="":
    break
  n0.append(int(i))
print(n0)

n = []
for i in n0:
  if i%3 == 0:
    n.append(i)
print(n)

sum = 0
for i in n:
  sum = sum + i
mean = sum/len(n)
print(sum, mean)

1
2
3
4
5
6
7
8
9
10

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[3, 6, 9]
18 6.0

## Quiz. 위의 코드 보완
위 코드는 입력 최대 갯수 10개의 조건을 만족하지 못한다. 이를 만족하도록 보완.