In [1]:
name = input()

print(name)

tom
tom

In [3]:
first = "tom"
name = first()
print(name)

TypeError: ignored

In [7]:
print("hello")
print()
print("hi")

hello
hi

In [8]:
l = [ 1, 2, 3, 4, 5 ]
print(l[3])

4

In [9]:
l = { 1, 2, 3, 4, 5 }
print(l[3])

TypeError: ignored

In [10]:
d = { "cat":"고양이", "dog":"강아지" }
print(d["cat"])

고양이

In [13]:
d = { 1:100, 2:150, 3:160 }
print(d[2])

150

In [11]:
d = [ "cat":"고양이", "dog":"강아지" ]
print(d["cat"])

SyntaxError: ignored

In [14]:
d = { 3:160, 2:150, 1:100 }
print(d[3])

160

In [15]:
l = [1,2,3]
print(l[3])

IndexError: ignored

In [16]:
print(1+2)

3

In [17]:
print("hello"+" tom")

hello tom

In [18]:
print("hello"+3)

TypeError: ignored

In [19]:
print("hello"+"3")

hello3

In [20]:
print("hello"+str(3))

hello3

In [22]:
age = 3
print("age:"+str(age))

age:3

In [23]:
print("age:"+age)

TypeError: ignored

In [27]:
print("    \ta\tb"+"age:"+"\n"+str(age))

    	a	bage:
3

In [39]:
l = ["tom", "jerry", "철수", "영희"]

s = ",".join(l)

l2 = s.split(",")

print(l2)

['tom', 'jerry', '철수', '영희']

### Quiz. 

```
'tom,jerry,철수,영희' -> 'TOM:JERRY:철수:영희"'
```

In [50]:
s = 'tom,jerry,철수,영희'
print(s)
s = s.upper()
print(s)
print(s.replace(",",":"))

tom,jerry,철수,영희
TOM,JERRY,철수,영희
TOM:JERRY:철수:영희

In [41]:
print("tom,jerry".upper())
print("tom,jerry".replace(",",":"))

TOM,JERRY
tom:jerry

### Test.

다음은 구구단중 3단을 출력하는 코드이다.

```
for i in range(1,10):
  print("{} x {} = {}".format(3, i, 3*i))
  
3 x 1 = 3
3 x 2 = 6
...
3 x 8 = 24
3 x 9 = 27  
```

이를 참고하여 다음을 출력하는 코드를 작성.
```
3 곱하기 5는 15
4 곱하기 5는 20
5 곱하기 5는 25
6 곱하기 5는 30
7 곱하기 5는 35
```

In [46]:
for i in range(1,10):
  print("{} x {} = {}".format(3, i, 3*i))

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

In [57]:
for i in range(3,8):
  print("{} 곱하기 {}는 {}".format(i, 5, 5*i))

3 곱하기 5는 15
4 곱하기 5는 20
5 곱하기 5는 25
6 곱하기 5는 30
7 곱하기 5는 35

### Test
다음은 자연수인 사용자 입력을 받아 그 총 합을 구하는 코드이다.
하지만 오류가 있어 실행이 되지 않는다.

```
l = []

while True
  i = input()
  if i=="":
    break
  l.append(i)
  
sum = 0
for i in l:
  sum = sum + 1
  
print(sum)
```
  

다음과 같은 입력을 하였을 때 다음의 출력이 되도록 수정.
```
입력
1
2
3
4
출력
10
```

In [53]:
l = []

while True
  i = input()
  if i=="":
    break
  l.append(i)
  
  
sum = 0
for i in l:
  sum = sum + 1
  
print(sum)

1
2
3
4

10

In [62]:
l = []

while True:
  i = input()
  if i=="":
    break
  l.append(i)

print(l)

sum = 0
for i in l:
  sum = sum + int(i)

print(sum)

1
2
3
4

['1', '2', '3', '4']
10

In [63]:
print("hello"+3)

TypeError: ignored

In [64]:
print("hello"+"tom")

hellotom

### Test

다음 리스트 중에서 3의 배수의 합과 5의 배수의 합을 출력하라.

```
l = [2,3,5,7,8,9,11,12,13,15,16,17]
출력
3의 배수 총합 : 39
5의 배수 총합 : 20

```

참조 코드
```
# 4의 배수만 출력하기
for i in l:
  if i%4==0:
    print(i)
```

```
# 전체 합 구하기
sum = 0
for i in l:
  sum = sum + i
```

In [70]:
l = [2,3,5,7,8,9,11,12,13,15,16,17]

sum3 = 0
for i in l:
  if i%3==0:
    sum3 = sum3 + i
   
print("3의 배수 총합 : "+str(sum3))

sum5 = 0
for i in l:
  if i%5==0:
    sum5 = sum5 + i
   
print("5의 배수 총합 : "+str(sum5))

3의 배수 총합 : 39
5의 배수 총합 : 20

In [72]:
l = [2,3,5,7,8,9,11,12,13,15,16,17]

sum3 = 0
sum5 = 0
for i in l:
  if i%3==0:
    sum3 = sum3 + i
  if i%5==0:
    sum5 = sum5 + i
   
print("3의 배수 총합 : "+str(sum3))   
print("5의 배수 총합 : "+str(sum5))

3의 배수 총합 : 39
5의 배수 총합 : 20