- int : int()
- float : float()
- string : str()
- bool : bool()


bool() : None, "", 0 인 경우에만 False, 이외는 True

In [1]:
print(bool(1))

True

In [2]:
print(bool(0))

False

In [3]:
print(bool(2))

True

In [4]:
print(bool(2.1))

True

In [5]:
print(bool(""))

False

In [6]:
print(bool("tom"))

True

In [8]:
print(int("3")+1)
print(3+1)

4

In [9]:
print("3"+str(1))
print("3"+"1")

# "31"

31

# 사용자 입력 input()

In [10]:
name = input()
print(name)

tom
tom

In [11]:
name = input("이름 : ")
print(name)

이름 : tom
tom

In [12]:
print("hello", "world")

hello world

In [13]:
# "이름은 tom 입니다."

name = input("이름 : ")
print("이름은", name, "입니다.")

이름 : tom
이름은 tom 입니다.

In [15]:
# "나이는 30 입니다."
age = input("나이 : ")
print(type(age))
print("나이는", age, "입니다.")

나이 : 30
<class 'str'>
나이는 30 입니다.

## 입력 받은 값에 2를 더해서 출력

In [18]:
n = input()
n = int(n)
print(n+2)

3
5

## 입력 받은 값에 2를 곱해서 출력

In [19]:
n = input()
n = int(n)
print(n*2)

3
6

## 입력 받은 값을 2로 나누어서 출력

In [20]:
n = input()
n = int(n)
print(n/2)

3
1.5

In [0]:
n = int(input())
print(n/2)

In [0]:
n = input()
print(int(n)/2)

## 2개의 값을 입력받아 서로 곱한 값

In [21]:
a = int(input())
b = int(input())
print(a*b)

3
2
6

## 입력을 받아 2로 나눈 몫

In [23]:
n = int(input())
div = int(n/2)
print(div)

5
2

## 입력을 받아 2로 나눈 나머지

In [24]:
n = int(input())
div = int(n/2)
mod = n - div*2
print(mod)

7
1

## 2개의 값 a, b를 입력받아 a를 b로 나눈 몫과 나머지

In [26]:
# 7, 2
# 몫 : 3, 나머지 : 1
a = int(input())
b = int(input())
div = int(a/b)
mod = a - div*b
print("몫 : ", div, ", 나머지 : ", mod)

7
2
몫 :  3 , 나머지 :  1

In [33]:
name = "tom"
age = 30
print("name : {}, age : {}".format(name, age))
print("name : {}, age : {}")
print(name)
print("print(name)")

name : tom, age : 30
name : {}, age : {}
tom
print(name)

In [29]:
# 7, 2
# 몫 : 3, 나머지 : 1
a = int(input())
b = int(input())
div = int(a/b)
mod = a - div*b
# print("몫 : ", div, ", 나머지 : ", mod)
print("몫 {}, 나머지 {}".format(div, mod))

7
2
몫 3, 나머지 1

In [0]:
몫 :  3 , 나머지 :  1
몫 : 3, 나머지 : 1

```
- "" : python이 아닌 사용자가 입력하는 내용.
- , : 여러개를 열거할 때
- # : 실행시키지 않아야 할 주석 라인
- . : 값에 함수가 따라다니는 경우
- : : X
```

# if 제어문

In [34]:
 temp = 30
 print("더워요. 온도는", temp, "입니다.")

더워요. 온도는 30 입니다.

In [35]:
temp = 20
print("시원해요. 온도는", temp, "입니다.")

시원해요. 온도는 20 입니다.

In [39]:
temp = 20

if temp>25:
   print("더워요. 온도는", temp, "입니다.")
   print("hi")
print("hello")

hello

In [41]:
temp = 20

if temp>25:
  print("더워요. 온도는", temp, "입니다.")
else:
  print("시원해요. 온도는", temp, "입니다.")
print("hello")

시원해요. 온도는 20 입니다.
hello

In [43]:
n = int(input())

div = int(n/2)
mod = n - div*2
if mod==0:
  print("짝수")
else:
  print("홀수")

4
짝수

In [44]:
temp = 20

if temp>25:
  print("더워요. 온도는", temp, "입니다.")
elif temp>15:
  print("시원해요. 온도는", temp, "입니다.")
else:
  print("추워요. 온도는", temp, "입니다")
print("hello")

시원해요. 온도는 20 입니다.
hello

## 함수

In [46]:
print("name {}, age {}".format("tom", 30))
print("name {}, age {}".format("jerry", 32))
print("name {}, age {}".format("철수", 20))
print("name {}, age {}".format("영희", 22))

name tom, age 30
name jerry, age 32
name 철수, age 20
name 영희, age 22

In [47]:
print("이름 {}, 나이 {}".format("tom", 30))
print("이름 {}, 나이 {}".format("jerry", 32))
print("이름 {}, 나이 {}".format("철수", 20))
print("이름 {}, 나이 {}".format("영희", 22))

이름 tom, 나이 30
이름 jerry, 나이 32
이름 철수, 나이 20
이름 영희, 나이 22

In [49]:
def print_name_and_age(name, age):
  print("name {}, age {}".format(name, age))
  
print_name_and_age("tom", 30)
print_name_and_age("jerry", 33)
print_name_and_age("철수", 20)
print_name_and_age("영희", 22)

name tom, age 30
name jerry, age 33
name 철수, age 20
name 영희, age 22

## 짝수 여부 구분 함수

In [0]:
def is_even(n):
  div = int(n/2)
  mod = n - div*2
  if mod==0:
    return True
  else:
    return False
  print("hi")  
  
print(is_even(3))
print(is_even(4))
print(is_even(5))

In [4]:
def is_even(n):
  div = int(n/2)
  mod = n - div*2
  return (mod==0)
  
print(is_even(3))
print(is_even(4))
print(is_even(5))

False
True
False

In [3]:
print(is_even(10))

True

## 나누기 몫 반환 함수

In [7]:
def div(a,b): # a를 b로 나누어서 몫을 반환
  return int(a/b)

print(div(3,2))
print(div(4,2))
print(div(5,2))

1
2
2

## 나누기 나머지 반환 함수

In [9]:
def mod(a,b):
  d = int(a/b)
  m = a - d*b
  return m

m = mod(3,2)
print(m)
print(mod(3,2))
print(mod(4,2))
print(mod(5,2))

1
1
0
1

In [10]:
def mod(a,b):
  d = div(a,b)
  m = a - d*b
  return m

print(mod(3,2))
print(mod(4,2))
print(mod(5,2))

1
0
1

In [11]:
def is_even(a):
  m = mod(a,2)
  return (m==0)

print(is_even(3))
print(is_even(4))
print(is_even(5))

False
True
False

In [12]:
def is_even(a):
  return mod(a,2)==0

print(is_even(3))
print(is_even(4))
print(is_even(5))

False
True
False

In [13]:
n = int(input())
if is_even(n):
  print("짝수")
else:
  print("홀수")

3
홀수